api-exp-underwrite-loan/src/main/app/api-exp-underwrite-loan.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <apikit:config name="api-exp-underwrite-loan-config" raml="api-exp-underwrite-loan.raml" consoleEnabled="true" consolePath="console" doc:name="Router"/>
    <http:request-config name="HTTP_Request_Configuration" host="sfs-api-proc-loan-decisioning.cloudhub.io" port="80" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="api-proc-loan-decisioning/api-proc-loan-decisioning.raml"/>
    </http:request-config>
    <flow name="api-exp-underwrite-loan-main">
        <http:listener config-ref="http-lc-0.0.0.0-8081" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-exp-underwrite-loan-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-exp-underwrite-loan-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="get:/application:api-exp-underwrite-loan-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;loan_application_id&quot;: 1234,&#xA;    &quot;first_name&quot;: &quot;Jim&quot;,&#xA;    &quot;last_name&quot;: &quot;Doyle&quot;,&#xA;    &quot;loan_amount&quot;: 250000,&#xA;    &quot;combined_credit_score&quot;: 795,&#xA;    &quot;status&quot;: &quot;pre-approved&quot;&#xA;  }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/decision/{loan_application_id}:api-exp-underwrite-loan-config">
        <http:request config-ref="HTTP_Request_Configuration" path="/decison/{loan_application_id}" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="loan_application_id" value="#[flowVars.loan_application_id]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <apikit:mapping-exception-strategy name="api-exp-underwrite-loan-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
